@import "../../styleVariables.scss";

.add-travel-service {
    &-container {
        display: flex;
        justify-content: center;
    }
    &-form {
        max-width: 600px;
        margin: 0 auto;
    }
    &-submit {
        max-width: 250px;
        margin: 50px auto 0;
    }
    &-header {
        margin-bottom: 50px;
        text-align: center;
    }
    &-form-group {
        margin: 20px 0;
        .form-label {
            margin-bottom: 5px;
        }
    }
    &-details-date {
        width: 100%;
        .react-datetime-picker__wrapper {
            border: none;
            border-bottom: 2px solid $tertiaryColor;
            padding: 15px;
        }
    }
}
