@import "../../styleVariables.scss";

.bttn {
    font-family: "Ubuntu", sans-serif;
    cursor: pointer;
    &-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    border-radius: 6px;
    padding: 13px 20px;
    text-align: center;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;

    &-pre-icon {
        margin-top: 3px;
        margin-right: 5px;
    }
    &-error {
        margin-top: 15px;
        text-align: center;
    }
    &.primary {
        background-color: $primaryColor;
    }
    &.secondary {
        background-color: $secondaryColor;
    }
    &.tertiary {
        background-color: $tertiaryColor;
    }
    &.transparent {
        background-color: transparent;
    }
}
