@import "../../styleVariables.scss";

.service-check-list {
    &-card.card {
        border-radius: 10px;
        background-color: $tertiaryColor;
        max-height: 500px;
        overflow-y: auto;
    }
    &-label {
        margin-left: 15px;
    }
    &-item {
        display: flex;
        justify-content: space-between;
    }
    &-checkbox {
        display: flex;
        &.showEnabled .form-check-input:disabled {
            opacity: 1;
        }
        .form-check-input[disabled] ~ .form-check-label {
            opacity: 1 !important;
        }

        .form-check-input {
            margin-top: 9px;
            cursor: pointer;
        }
    }
    &-price {
        white-space: nowrap;
    }
}
